pipeline/Copy_CompanyDetail.json
{
	"name": "Copy_CompanyDetail",
	"properties": {
		"activities": [
			{
				"name": "Copy CompanyDetail",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							},
							"path": "landing/company_detail/errors"
						}
					},
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "Source_CompanyDetail",
						"type": "DatasetReference",
						"parameters": {
							"p_load_date": {
								"value": "@variables('v_load_date')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_CompanyDetail",
						"type": "DatasetReference",
						"parameters": {
							"p_load_date": {
								"value": "@variables('v_load_date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Load Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_load_date",
					"value": "20220731"
				}
			}
		],
		"variables": {
			"v_load_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-03T16:09:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}